.category {
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 9999px;
}

.category>label {
    text-transform: capitalize;
}

.serif {
    font-family: "Noto Serif";
}

.display {
    font-family: "MuseoModerno";
}

.handwriting {
    font-family: "Kalam";
}

.monospace {
    font-family: "Iosevka";
}

.font_item {
    text-transform: capitalize;
}

.variable-badge {
    padding: 2px 6px;
    border-radius: 6px;
    background-color: alpha(currentColor, 0.08);
}
