.image-text-button,
.category {
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 9999px;
}

.serif {
    font-family: "Noto Serif";
}

.display {
    font-family: "MuseoModerno";
}

.handwriting {
    font-family: "Kalam";
}

.monospace {
    font-family: "Iosevka";
}

.font_item {
    text-transform: capitalize;
}


/*A hack to make the cancel button still have same
  padding as libadwaita pill style but keep the progress
  bar at the bottom*/
.progress-button {
    padding: 0;
}

.progress-button-label {
    padding: 10px 32px;
}
